.portada, .portada2 {
    background-size: 100% auto;
    width: 100%;
    height: 100%;
}

.portada {
    background: url('../img/oca_caratula.png') no-repeat center;
}

.portada2 {
    background: url('../img/oca2.jpeg') no-repeat center;
}

.body {
    background-color: antiquewhite;
    min-height: 100vh;
}

.ContenedorTablero {
    background-color: black;
    width: 75%;
    height: 94vh;
    margin: auto;
    padding-top: 2rem;
}

.tablero {
    position: relative;
    margin-top: 1rem;
    background: url('../img/tablero.png') no-repeat center;
    background-size: contain;
    width: 85%;
    height: 85vh;
    margin: auto;
}

.oca {
    position: absolute;
    width: 2rem; /* Ajusta el tamaño según la necesidad */
    height: 2rem; /* Asegúrate de que las dimensiones permitan ver la imagen completa */
    background-size: contain; /* Cambio clave para asegurar que la imagen se vea completa */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen dentro del contenedor */
}

.ocaRoja {
    background-image: url('../img/roja.png');
    top: 10%;
    left: 10%;
    MARGIN-TOP: 391px;
    margin-left: 6px;
}

.ocaAzul {
    background-image: url('../img/azul.png');
    top: 20%;
    left: 20%;
    MARGIN-TOP: 339px;
    margin-left: -120px;
}

.ocaVerde {
    background-image: url('../img/verde.png');
    top: 30%;
    left: 30%;
    MARGIN-TOP: 322px;
    margin-left: -206px;
}

.ocaAmarilla {
    background-image: url('../img/amarilla.png');
    top: 40%;
    left: 40%;
    MARGIN-TOP: 271px;
    margin-left: -252px;
}

@media (max-width: 768px) {
    .oca {
        width: 3rem; /* Hace las piezas más grandes en dispositivos móviles */
        height: 3rem;
    }
    .ContenedorTablero, .tablero {
        height: auto; /* Ajusta la altura para dispositivos móviles */
    }
}
